<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 先引入 Vue -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- 引入 http-vue-loader -->
    <script src="https://unpkg.com/http-vue-loader"></script>

</head>

<body>
    <div id="app">
        <form @submit.prevent="update">
            账号：<input type="text" id="name" v-model="account" /> 密码：
            <input type="password" v-model="password" /> 性别： 男
            <input type="radio" name="sex" v-model="sex" value="男" /> 女
            <input type="radio" name="sex" v-model="sex" value="女" /> 爱好： 学习
            <input type="checkbox" v-model="hobby" value="学习" /> 游戏
            <input type="checkbox" v-model="hobby" value="游戏" /> 音乐
            <input type="checkbox" v-model="hobby" value="音乐" /> 校区：
            <select v-model="city">
              <option value="" >请选择学校</option>
              <option value="北京"  >北京</option>
              <option value="上海" >上海</option>
              <option value="广州" >广州</option>
            </select> 其他信息：
            <textarea v-model="other"></textarea>
            <button>提交</button>
        </form>
    </div>
</body>

<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    // 使用httpVueLoader
    Vue.use(httpVueLoader);
    new Vue({
        el: '#app',
        data() {
            return {
                account: "",
                password: "",
                sex: "",
                hobby: [],
                city: "",
                other: "",
            }
        },
        methods: {
            update() {
                console.log(JSON.stringify(this._data))
            }
        },
    })
</script>

</html>